{% load static %}
<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
    <div class="logo d-flex justify-content-between">
        <h3><img src="{% static 'img/logo/logo.png' %}" ></h3>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <a href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="img/menu-icon/5.svg" alt="">
                </div>
                <span>Profile</span>
            </a>
            <a href="#">
                <div class="icon_menu">
                    <img src="img/menu-icon/5.svg" alt="">
                </div>
                <span>Cart</span>
            </a>
            <a href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="img/menu-icon/5.svg" alt="">
                </div>
                <span>Purchases</span>
            </a>
            <a href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="img/menu-icon/5.svg" alt="">
                </div>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</nav>